.card_container {
    display: flex;
    justify-content: center;
    padding: 40px;
}

.card {
    width: 400px;
    display: flex;
    flex-flow: column;
    align-items: center;
}

@media (max-width: 768px) {
    .card{
        width: 100%;
    }
}